/** About **/
.about{
    padding: 120px 0;
}
.about .about-img{
    box-shadow: 4px 4px 45px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    width: 89%;
}
.about .image-border{
    position: relative;
}
.about .image-border::after{
    content: '';
    height: calc(100% - 35px);
    width: calc(100% - 70px);
    background: transparent;
    position: absolute;
    margin: 0 auto;
    bottom: -35px;
    right: 35px;
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.75);
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
    border-bottom-right-radius: 12px;
}

.about p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.75);
    margin: 37px 0 60px 0;
}
.about .nav-tabs{
    justify-content: space-between;
    border: none;
    margin-bottom: 50px;
    gap: 15px;
}
.about .nav-tabs li button{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    color: rgba(0, 0, 0, 0.75);
    border: none;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
}
.about .nav-tabs li button.active{
    color: #000000;
}
.about .nav-tabs li button.active::after{
    content: "";
    height: 2px;
    width: 18px;
    background: #000000;
    position: absolute;
    margin: 0 auto;
    bottom: -5px;
    display: block;
}
.about .tab-content p{
    margin: 0 !important;
}
@media only screen and (max-width: 1399px) {
    .about .about-img{
        width: 87%;
    }
}
@media only screen and (max-width: 1199px) {
    .about .about-img{
        width: 85%;
    }
}
@media only screen and (max-width: 991px) {
    .image-border{
        text-align: center;
        margin-bottom: 30px;
    }
    .image-border::after{
        display: none !important;
    }
    .about .nav-tabs{
        gap: 15px;
    }
    .about .nav-tabs li button{
        font-size: 22px;
        
    }
}

@media only screen and (max-width: 450px) {
    .list-inner.d-flex{
        display: block !important;
    }
    .timeline .list-inner{
        margin: 20px 0;
    }
    .timeline .list-inner .place{
        margin-left: 0 !important;
        margin-top: 15px;
    }
}